body{
    margin:0;
    padding:0;
    font-family: Montserrat, "sans-serif";
}

:root{
    --primary-color:#232f3e;
    --secondary-color: #fff;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30%);
        
    }
    100%{
        opacity: 0.7;
        transform: translateY(0%);
    }
}

.navbar{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    position: relative;
    height:150px;
    width:100%;
    background-color: var(--primary-color);
}

.navbar img{
    object-fit: contain;
    margin: 0px 50px;
    width:150px;
    height:150px;
}

.navbar input[type=text] {
    font-family: Arial;
    font-weight: 400;
    padding: 10px;
    width:700px;
    height:30px;
    border: 1px;
    margin-top: 8px;
    font-size: 17px;
  }

.search-container{
    margin-left: 10px;
}

.navbar .search-container button {
    padding: 13px 20px;
    margin-top: 10px;
    margin-right: 16px;
    background: #28c46e;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }

.book_container{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-top:20px;
    margin-left: 50px;
    background-color: var(--secondary-color);
    border: 1px solid #CCC;
    width:90%;
    min-height: 100vh;
}

.book{
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #CCC;
    background-color:transparent;
    width: 339px;
    height:400px;
    margin:0;
}

.book:hover{
    border: 1px solid rgb(34, 32, 32);
}


.book img{
    width:200px;
    height:200px;
    object-fit: contain;
}

.book_info{
    display: flex;
    margin: 0px 50px;
    justify-content:first baseline;
    flex-direction: column;
}
.book_info h3{
    font-size: 1.2rem;
    font-weight: 800;
}

.book_info p{
    font-size: 1.0rem;
    font-weight: 700;
}

.overview{
    position: absolute;
    left:220px;
    right:10px;
    bottom:70px;
    max-height: 100%;
    background-color: #fff;
}

 .dropdown{
     position:relative;
     top:27%;
     z-index: 1;
 }

 .dropdown ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
     margin: 0;
    padding: 0;
    width: 300px;
    background-color: #f1f1f1;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.4s ease;
 }

 .dropdown li{
    list-style:none;
    background-color: #f1f1f1;
 }

 .dropbtn{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
 }

 .dropdown a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
 }

 .dropdown a:hover{
    background-color: #fad390;
    color: #fff;
 }

 .dropbtn:focus + ul{
     opacity:1;
     transform: translateY(0px);
 }


@media (max-width: 600px) {
    .navbar{
        flex-direction: column;
    }
}
